.about-me{
    font-family: 'Times New Roman', Times, serif;
    font-size: xxx-large;
    background-color: darkgreen;
    width: 1100px;
}
#Contact{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: x-large;
color: yellow;
background-color:blue;
width: 500px;
}

h1, h3 { 
    text-align: center;
}
/* fixed header width (make sure auto save is on) */
header{
    position: top;
    width: 1190px;
    border: 10px solid green;  
    background-color: lightblue;
    font-weight: bolder;
    font-size: larger;
}
.hero{
    margin: 0px;
    padding-left: 350px;
}
img{
    margin-top: 30px;}

.panel{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

footer {position: relative
    height 100px;
width: 300px;
background-color: rgb(49, 146, 146);}